<hr>

<% production_year = 2016 %>

© <%= production_year %> <%= Date.today.year == production_year ? '' : "- #{Date.today.year}"%> School of code by <a href="http://hexelsoft.com" target="_blank">hexelsoft.com</a>